
.login-form-title {
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
}

.margin-top-40 {
    margin-top: 45%;
}

@media (max-width: 990px) {}