<div class="row mr-0 ml-0 bg-white">
<div class="w-100 my-2 d-flex justify-content-center">
  <label class="mr-2 mt-2"> Device</label>
  <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle border-color-grey" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-mobile font-larger" aria-hidden="true"></i> Galaxy Note 9
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">  <i class="fa fa-mobile font-larger" aria-hidden="true"></i>  Pixel 3</button>
        <button class="dropdown-item" type="button">  <i class="fa fa-mobile font-larger" aria-hidden="true"></i>  Xiaomi M1</button>
        <button class="dropdown-item" type="button">  <i class="fa fa-mobile font-larger" aria-hidden="true"></i>  Samsung J5</button>
        <button class="dropdown-item" type="button">  <i class="fa fa-mobile font-larger" aria-hidden="true"></i>  Nokia N3</button>
        <button class="dropdown-item" type="button">  <i class="fa fa-mobile font-larger" aria-hidden="true"></i>  Infinix Note 4</button>
        <button class="dropdown-item" type="button">  <i class="fa fa-mobile font-larger" aria-hidden="true"></i>  Samsung A20</button>
      </div>
    </div>
</div>
</div>

<div class="container mt-4">
  <div class="row ml-0 mr-0 application-view-height">
    <div class="col-sm-4 bg-white pl-0 pr-0 border-color-grey">
        <ul class="list-group">
            <li class="list-group-item">Applications</li>
            <li class="list-group-item list-group-item-action">
              <img src="./assets/icons/messenger.png" width="25" alt=""> Messenger</li>
            <li class="list-group-item list-group-item-action">
                <img src="./assets/icons/whatsapp.png" width="25" alt=""> WhatsApp</li>
            <li class="list-group-item list-group-item-action">
                <img src="./assets/icons/instagram.png" width="25" alt=""> Instagram</li>
            <li class="list-group-item list-group-item-action">
                <img src="./assets/icons/viber.png" width="25" alt=""> Viber</li>
          </ul>
    </div>
    <div class="col-sm-8 pl-0 pr-0 bg-white">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Text Messages">Text Messages</mat-tab>
            <mat-tab label="Phone calls">Phone calls</mat-tab>
            <mat-tab label="Internet history">Internet history</mat-tab>
            <mat-tab label="Location">Location</mat-tab>
            <mat-tab label="Notifications"> Notifications </mat-tab>
          </mat-tab-group>
    </div>
  </div>
</div>
