<div class="row mr-0 ml-0 bg-white">
<div class="w-100 my-2 d-flex justify-content-center">
  <label class="mr-2 mt-2"> Device</label>
  <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle border-color-grey" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-mobile font-larger" aria-hidden="true"></i> Galaxy Note 9
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
</div>
</div>